* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", serif;
}

.why-ubuy-app {
    padding-top: 20rem;
    color: #666;
}

.products-worldwide {
    background-color: #f7f7f7;
    color: #666;
}

.shopping-card {
    border-radius: 30px;
}

.how-it-works {
    background-color: #f7f7f7;
}

.padding-Download-Shopping-App {
    background-size: contain !important;
    background-position: center;
    background-repeat: no-repeat !important;
    background: url(./Images/world-map.png);
    padding: 200px 0;
}

.press-div {
    width: 195px;
}